    body {
      background-color: #f8edeb;
      font-family: Roboto, sans-serif;

    }

    h1 {
      text-align: center;
      clear: both;
      font-size: 34px;
    }

    h2 {
      font-size: 16px;
      text-align: center;
    }

    ul {
      clear: both;
      text-align: left;
      list-style: none;
      margin-top: 250px;
    }

    li {
      clear: both;
      padding-top: 10px;
      line-height: 1.6rem;
      color: black;
      margin-top: 30px;
      margin-left: 50%;
      transform: translate(-50%, -50%);
    }

    img {
      margin-top: 20px;
      width: 40%;
      display: block;
      margin-left: auto;
      margin-right: auto
    }

    form {
      z-index: 1;
      text-align: center;
      width: 120%;
      margin-left: -10%;
      margin-top: -30px;
      height: 40px;
      background-color: #EED7D2;
      box-shadow: 0px 6px 12px 4px #C1AFAB;
      margin-bottom: 30px;
      padding-top: 18px;
      position:fixed
    }

    strong {
      color: #e63946;
    }


    hr {
        height: 2px;
        background-color: #EED7D2;
        width: 150px;
        border: none;
        margin-left: 50%;
        transform: translate(-50%, -50%);
    }

    #chercher {
    background-color: white; 
    color: black; 
    border: 2px solid #f8edeb;
    }

    #chercher:hover {
        border: none;
        color: ;
        box-shadow: 0px 0px 2px #777;
        border: 2px solid #e63946;
    }